<div class="container confirmateModal shadow-md rounded px-8 pt-6 pb-8 bg-red-700 w-30">
  <div class="m-auto flex flex-col gap-2">
    <p>{{ confirmateTitleModal }}</p>
    <div class="flex flex-row gap-2">
      <button
        class="w-full block select-none items-center rounded-lg bg-red-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button" (click)="handleConfirm()">
        Yes
      </button>
      <button
        class="w-full block select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button" (click)="handleCloseModal()">
        No
      </button>
    </div>
  </div>
</div>