<div class="modal shadow-md rounded px-8 pt-6 pb-8">
    <div class="w-1/2 m-auto">
        <form>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input [(ngModel)]="person!.name" name="name" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="name" type="text" placeholder="Name" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="gender">
                    Gender
                </label>
                <select id="gender" name="gender" [(ngModel)]="person!.gender" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Non-binary">Non-binary</option>
                    <option value="Transgender">Transgender</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="dateOfBirth">
                    Date of Birth
                </label>
                <input [(ngModel)]="person!.dateOfBirth" name="dateOfBirth" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="dateOfBirth" type="date" placeholder="Date of Birth" for="datemin" for="datemax"
                    min="1902-01-02" max="2006-12-31" />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="marital-status">
                    Marital Status
                </label>
                <select id="marital-status" name="marital-status" [(ngModel)]="person!.maritalStatus" required
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                </select>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="w-full bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="person!.id? handleEditPerson() : handleCreatePerson()">
                    {{person!.id? 'Edit Person' : 'Add Person'}}
                </button>
            </div>
        </form>
    </div>
</div>