<div class="fixed mx-auto w-full p-6">
    <button
        class=" w-1/12 select-none items-center gap-3 rounded-lg bg-white py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button" translate="PORTUGUESE" (click)="selectLanguage('portuguese')">
    </button>
    <button
        class="ml-2 mr-2 w-1/12 select-none items-center gap-3 rounded-lg bg-white py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button" translate="ENGLISH" (click)="selectLanguage('english')">
    </button>
    <button
        class=" w-1/12 select-none items-center gap-3 rounded-lg bg-white py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button" translate="SPANISH" (click)="selectLanguage('spanish')">
    </button>
</div>

<router-outlet></router-outlet>